:root {
    --color-primary: rgb(53, 108, 113);
    --color-secondary: rgb(3, 42, 46);
    --color-clock: rgb(130, 156, 159);
    --text-shadow: rgb(0, 0, 0);
    --opaque-bg: rgba(0, 0, 0, .6);
}

@font-face {
    font-family: 'GaramondPremier';
    src: url('/assets/Garamond Premier Pro Regular.ttf');
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/assets/eldenring_default.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'GaramondPremier', 'IM Fell English', serif;
    font-weight: 400;
}

#clock {
    
    font-size: 4rem;
    margin-top: 4rem;
    margin-bottom: 15px;
    color: var(--color-clock);
    text-shadow: 5px 5px 5px #000000;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
}

.box {
    border: 7px double var(--color-secondary);
    border-radius: 0.7em;
    background-color: var(--opaque-bg);
    padding: 10px;
    width: 15vw;
    min-width: 180px;
}

.box > h2 {
    color: var(--color-primary);
    margin-top: 0;
}

.box > ul {
    list-style-type: none;
    padding: 0;
}

.box > ul > li > a {
    color: #c0c0c0;
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.2s;
}

.box > ul > li > a:hover {
    color: var(--color-primary);
    font-weight: 600;
    transition: all 0.2s;
}