body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/assets/eldenring_default.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'IM Fell English', serif;
    font-weight: 400;
}

#clock {
    
    font-size: 4rem;
    margin-top: 4rem;
    margin-bottom: 15px;
    color: #c0c0c0;
    text-shadow: 5px 5px 5px #000000;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
}

.box {
    border: 7px double rgb(26, 49, 49);
    border-radius: 0.7em;
    background-color: rgba(0,0,0,.6);
    padding: 10px;
    width: 15vw;
    min-width: 175px;
}

.box > h2 {
    color: rgb(57, 92, 106);
    margin-top: 0;
}

.box > ul {
    list-style-type: none;
    padding: 0;
}

.box > ul > li > a {
    color: #c0c0c0;
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.2s;
}

.box > ul > li > a:hover {
    color: rgb(57, 92, 106);
    font-weight: 600;
    transition: all 0.2s;
}